.all{
	width: 100vw;
	height: 100vh;
	background-image: url(http://i.mycdn.me/i?r=AzEPZsRbOZEKgBhR0XGMT1RkjYVNR3OmQk3MI38OlvtoVKaKTM5SRkZCeTgDn6uOyic);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	position: absolute;
	z-index: 1;
}

body{
	margin: 0;
}

.dark:before{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: black;
	opacity: 0.5;
	z-index: 2;

}

h1{
	color: white;
	position: absolute;
	z-index: 3;
	float: left;
	transition: all 2s ease-in;
}

.x2{
	position: absolute;
	top: 100px
}
.text{
	margin-left: 25px;
} 

.x3{
	position: absolute;
	top: 350px;
}

.button{
	width: 125px;
	height: 125px;
	background-color: green;
	border-radius: 100px;
	position: absolute;
	left: 85vw;
	transition: all 4s ease-in;
}

.wiki{
	float: left;
	padding-left: 25px;
	padding-top: 25px;
}

.button:hover{
	background-color: #8cff5e ;
}

.button:active{
	background-color: #c1ffa8;
}

.text